:host {
  width: 100%;
  max-width: 1200px;
}

.board {
  display: flex;
  justify-content: space-between;

  &__column {
    color: #212225;
    background: #e3e3e3;
    padding: 10px 20px;
    max-height: 80vh;
    overflow-y: auto;
    width: 30%;
  }

  .task {
    color: #212225;
    background: #fefefe;
    display: block;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-decoration: none;

    &__name {
      margin: 0 0 10px 0;
    }
  }
}
