:host {
  width: 100%;
}

.container {
  padding: 40px 20px;

  &__title {
    margin: 0 0 20px 0;
  }

  .project {
    background: #aaa;
    padding: 20px;

    &__title {
      margin: 0 0 10px 0;
    }

    &__features {
      div {
        background: #fefefe;
        padding: 5px 10px;

        &:nth-child(even) {
          background: #dcdcdc;
        }
      }
    }
  }
}
